body {
    background-color: #F1E9D2 !important; /* Parchment */
    color: #5C5750 !important; /* Dark gray */
}

.navbar-light {
    background-color: #F1E9D2 !important; /* Parchment */
}

.nav-link {
    color: #5C5750; /* Dark gray */
}

.nav-link:hover, .nav-link.active {
    color: #CC644C !important; /* Muted clay */
}

.btn-primary {
    background-color: #A9A29F; /* Muted clay */
    border-color: #A9A29F; /* Muted clay */
}

.btn-primary:hover {
    background-color: #92897D; /* Darker shade of clay for hover */
    border-color: #92897D;
}

a { /* Targets all <a> elements */
    color: #92897D; /* Muted clay */
}

a:hover {
    color: #CC644C; /* Darker shade of clay for hover */
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #2B2B2B !important; /* Soft dark gray for body */
    color: #DADADA !important; /* Soft light gray for text */
}

body.dark-mode .navbar-light {
    background-color: #2B2B2B !important; /* Darker gray for navbar */
    border-color: #2B2B2B !important; /* Optional: change if your navbar has a border */
}

body.dark-mode .navbar-light .navbar-brand,
body.dark-mode .navbar-light .nav-link {
    color: #DADADA !important; /* Light gray for navbar text in dark mode */
    background-color: #2B2B2B !important; /* Darker gray for navbar */
}

body.dark-mode .navbar-light .nav-link:hover,
body.dark-mode .navbar-light .nav-link.active {
    color: #CC644C !important; /* Soft green for active/hovered navbar links in dark mode */
    background-color: #2B2B2B !important; /* Darker gray for navbar */
}
